/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../images/bgtile.png") repeat-x;
  width: 850px;
  margin: auto;
}

img{
  background-repeat: repeat-x;
}

.major{
  width: 90%;
  margin: auto;
  margin-top: 100px;
  height: 500px;
}

.phone {
  float: left;
  width: 37%;
}

section.majorright {
  width: 58%;
  float: right;
  height: 500px;
}

.logo {
 position: relative;
 top: 20px;
 width: 60%;
 padding-bottom: 20px;
}

.frame {
  width: 100%;
  position: absolute;
}

.within {
  position: relative;
}

.para {
  display: block;
}

h3{
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px 0px 20px 0px;
  height: 100px;
  top:40px;
  left: 40px;
  width: 50%;
  text-align: left;
  color: #1c5380;
}

p {
  position: relative;
  color: black;
  display:block;
  margin: 0px;
  padding: 0 0 15px 0;
  font-size: .9em;
  left: 40px;
  width: 81%;
}

.icon {
  position: relative;
  display:inline;
  margin-left: 40px;
  width: 25%;
}
.icon2 {
  position: relative;
  display:inline;
  margin-left: 20px;
  width: 25%;
}

.end p{
  margin-top: 100px
  margin: auto;
  clear: left;
  display: inline;
  font-size: .8em;
  font-weight: bold;
}

div.end{
margin: auto;
text-align: center;
}

a {
  padding: 10px;

}
