/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../images/bgtile.png") repeat-x;
  width: 800px;
  margin: auto;
}

img{
  background-repeat: repeat-x;
}

.major{
  width: 100%;
  margin: auto;
  margin-top: 100px;
  height: 475px;
}

.phone {
  float: left;
  width: 33%;
}

section.majorright {
  width: 60%;
  float: right;
  height: 470px;
}

.logo {
 position: relative;
 top: 20px;
 width: 55%;
 padding-bottom: 20px;
}
.button {
  position: absolute;
  height: 40px;
  width: 20%;
  right: 5px;
  opacity: .4;
  border-radius: 10px;
  top: 30px;
  border: .5px solid #06365f;
  box-shadow: black;
  display: inline;

}

h4.log {
  position: absolute;
  right: 13px;
  top: 17px;
  color: white;
  font-weight: bold;
  width: 10%;


}

.hoh {
  position: absolute;
  right: 70px;
  top: 40px;

}

.frame {
  width: 100%;
  position: absolute;
  clear: both;
}

.within {
  position: relative;
}

.para {
  display: block;
}

h3{
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px 0px 15px 0px;
  height: 100px;
  top:30px;
  left: 35px;
  width: 53%;
  text-align: left;
  color: #1c5380;
  font-size: 1.5em;
  line-height: 1.3;
}

p {
  position: relative;
  color: black;
  display:block;
  margin: 0px;
  padding: 0 0 15px 0;
  font-size: .85em;
  left: 35px;
  width: 81%;
  font-weight: 200;
}

.icon {
  position: relative;
  display:inline;
  margin-top: 10px;
  margin-left: 35px;
  width: 25%;
}
.icon2 {
  position: relative;
  display:inline;
  margin-left: 20px;
  width: 25%;
  margin-top: 10px;

}

.end p{
  margin-top: 100px
  margin: auto;
  clear: left;
  display: inline;
  font-size: .8em;
  font-weight: bold;
  color: grey;
}

div.end{
margin: auto;
text-align: center;
}

a:link {
  text-decoration: none;
  padding: 10px;
  color: cadetblue;

}
